@model IEnumerable<Assessment.Models.SignUp>

@{
    ViewBag.Title = "List";
}

<h2 class="text-center bg-info text-info">List Of All SignUp Users </h2>

  @*  For Display of Message    *@ 
   
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            swal("GOOD JOB!", '@TempData["Message"]', "success")

    </script>
}
   @*     Table Content     *@
<table class="table table-bordered table-hover table-striped" id="Mytable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmpassword)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmpassword)
            </td>
           
        </tr>
    }

</table>
@section scripts{

}
